<script>
  var theme = {
    sections: {
      constructors: {}
    },
    strings: {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      showMore: {{ 'general.filters.show_more' | t | json }},
      showLess: {{ 'general.filters.show_less' | t | json }},
      addressError: {{ 'sections.map.address_error' | t | json }},
      addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
      authError: {{ 'sections.map.auth_error_html' | t | json }},
      addCartMsg: {{ 'cart.message.added' | t: product_title: 'product_title' | json }},
      upsellTitle: {{ 'products.product.upsell_block_title' | t: product_title: 'product_title' | json }},
      previous: {{ 'general.pagination.previous' | t | json }},
      next: {{ 'general.pagination.next' | t | json }},
      wishlistEmpty: {{ 'products.product.wishlist_empty' | t | json }},
      addWishlistTitle: {{ 'collections.product_item.add_to_wishlist' | t | json }},
      addedWishlistTitle: {%- capture added_to_wishlist_text -%}{{ 'collections.product_item.added_to_wishlist' | t }}{%- endcapture -%}{%- unless added_to_wishlist_text contains 'translation missing' -%}{{ added_to_wishlist_text | json }}{%- else -%}{{ 'Added to wishlist' | json }}{%- endunless -%},
      countdownTplHour: {{ 'products.product.countdown_hour_template' | t | json }},
      countdownTplDay: {{ 'products.product.countdown_day_template' | t | json }},
      countdownTplWeek: {{ 'products.product.countdown_week_template' | t | json }},
      countdownExpiredMsg: {{ 'products.product.countdown_expired_message' | t | json }},
      preOrderText: {{ 'products.product.pre_order' | t | json }},
      cartTermsErrorMsg: {{ settings.cart_terms_error_msg | escape | json }},
      instockText: {{ 'products.product.instock' | t | json }}
    },
    enableWishlist: {{ settings.enable_wishlist | json }},
    enableFreeShipping: {{ settings.cart_free_shipping_enable | json }},
    freeShippingGoal: {{ settings.cart_free_shipping_goal | times: 100 }},
    freeShippingGoalText: {{ settings.cart_free_shipping_goal_text | json }},
    freeShippingProgressText: {{ settings.cart_free_shipping_progress_text | json }},
    rootUrl: '{{ root_url }}',
    collectionAllUrl: '{{ routes.all_products_collection_url }}',
    recommendationUrl: '{{ routes.product_recommendations_url }}',
    searchUrl: '{{ routes.search_url }}',
    cartUrl: '{{ routes.cart_url }}',
    cartJsonUrl: '{{ routes.cart_url }}.js',
    cartAddUrl: '{{ routes.cart_add_url }}.js',
    cartChangeUrl: '{{ routes.cart_change_url }}.js',
    cartUpdateUrl: '{{ routes.cart_url }}/update.js',
    cartClearUrl: '{{ routes.cart_clear_url }}.js',
    currentUrl: '{{ request.path }}',
    cartNumber: {{ cart.item_count }},
    cartAction: {{ settings.add_cart_action | json }},
    cartTerms: {% if settings.cart_terms_enable %}true{% else %}false{% endif %},
    cartTermsUrl: {{ settings.settings.cart_terms_url | json }},
    moneyFormat: {% if shop.money_format contains 'money' %}{{ shop.money_format | json }}{% else %}{{ '<span class="money">' | append: shop.money_format | append: '</span>' | json }}{% endif %},
    currencyServices: ['https://ipinfo.io/json'],
    favicon: {
      enable: {% if settings.badge_enable %}true{% else %}false{% endif %},
      pos: "{{ settings.badge_pos }}",
      bkgColor: "{{ settings.badge_bkg_color }}",
      textColor: "{{ settings.badge_text_color }}"
    },
    template: "{{ template.name }}",
    templateSuffix: {{ template.suffix | json }},
    libs: {
      "slider": {
        "js": "{{ 'jquery-slick.min.js' | asset_url }}"
      },
      "photoswipe": {
        "css": ["{{ 'photoswipe.css' | asset_url }}","{{ 'photoswipe-default-skin.css' | asset_url }}"],
        "js": "{{ 'bt-photoswipe.min.js' | asset_url }}"
      },
      "lightgallery": {
        "css": ["{{ 'lightgallery.min.css' | asset_url }}"],
        "js": "{{ 'lightgallery.min.js' | asset_url }}"
      },
      "modalvideo": {
        "css": ["{{ 'modal-video.min.css' | asset_url }}"],
        "js": "{{ 'jquery-modal-video.min.js' | asset_url }}"
      },
      "recommendedProducts": {
        "css": ["{{ 'recommended-products.min.css' | asset_url }}"],
        "js": "{{ 'bt-sales-notification.js' | asset_url }}"
      },
      "googleMaps": {
        "css": ["{{ 'google-maps.min.css' | asset_url }}"]
      },
      "newsletterPopup": {
        "css": ["{{ 'newsletter-popup.min.css' | asset_url }}"],
        "js": "{{ 'bt-newsletter-popup.js' | asset_url }}"
      },
      "youtube": {
        "js": "//youtube.com/iframe_api"
      },
      "vimeo": {
        "js": "//player.vimeo.com/api/player.js"
      }{%- if template.name != 'product' -%},
      "quickViewPopup": {
        "css": ["{{ 'quick-view.min.css' | asset_url }}"]
      }
      {%- endif -%}
      ,"modelViewerUiStyles": {
        "css": ["//cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"]
      },
      "product-global": {
        "js": "{{ 'bt-product-global.js' | asset_url }}"
      },
      "waypoint": {
        "js": "{{ 'jquery.waypoints.min.js' | asset_url }}"
      },
      "infinite": {
        "js": "{{ 'infinite.min.js' | asset_url }}"
      },
      "nouislider": {
        "css": ["{{ 'nouislider.min.css' | asset_url }}"],
        "js": "{{ 'nouislider.min.js' | asset_url }}"
      },
      "navigation-section": {
        "js": "{{ 'bt-section-navigation.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-navigation-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "navigation-vertical-section": {
        "js": "{{ 'bt-section-navigation-vertical.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-navigation-vertical-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "navigation-mobile-section": {
        {%- if request.design_mode -%}"js": "{{ 'bt-section-navigation-mobile.js' | asset_url }}",{%- endif -%}
        "css": ["{{ 'navigation-mobile.min.css' | asset_url }}"]
      },
      "product-tabs-section": {
        "js": "{{ 'bt-section-product-tabs.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-product-tabs-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "instagram-section": {
        "js": "{{ 'bt-section-instagram.js' | asset_url }}"
      },
      "rich-banner-text-section": {
        "js": "{{ 'bt-section-rich-banner-text.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-rich-banner-text-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "layer-banner-section": {
        "js": "{{ 'bt-section-layer-banner.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-layer-banner-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "simple-product-slider-section": {
        "js": "{{ 'bt-section-simple-product-slider.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-simple-product-slider-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "product-columns-section": {
        "js": "{{ 'bt-section-product-columns.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-product-columns-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "map-section": {
        "js": "{{ 'bt-section-map.js' | asset_url }}"
      },
      "quotes-section": {
        "js": "{{ 'bt-section-quotes.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-quotes-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "logo-bar-section": {
        "js": "{{ 'bt-section-logo-bar.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-logo-bar-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "single-deal-section": {
        "js": "{{ 'bt-section-single-deal.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-single-deal-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "about-section": {
        "js": "{{ 'bt-section-about.js' | asset_url }}"
      },
      "newsletter-section": {
        "js": "{{ 'bt-section-newsletter.js' | asset_url }}"
      },
      "collection-filter-section": {
        "css": ["{{ 'bt-section-collection-filter.min.css' | asset_url }}"],
        "js": "{{ 'bt-section-collection-filter.js' | asset_url }}"
      },
      "footer-section": {
        "js": "{{ 'bt-section-footer.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-footer-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "product-section": {
        "js": "{{ 'bt-section-product.js' | asset_url }}"
        {%- if request.design_mode -%}
          ,"js-admin": "{{ 'bt-section-product-admin.js' | asset_url }}"
        {%- endif -%}
      },
      "collection-template-section": {
        "js": "{{ 'bt-collection.js' | asset_url }}"
      },
      "search-template-section": {
        "js": "{{ 'bt-search.js' | asset_url }}"
      },
      {%- if request.design_mode -%}
      "faq-section": {
        "js": "{{ 'bt-section-faq.js' | asset_url }}"
      },
      {%- endif -%}
      "zoom": {
        "js": "{{ 'jquery.zoom.min.js' | asset_url }}"
      }
      {%- if template.name == 'product' -%}
        ,"fre_bought": {
          "js": "{{ 'bt-fre-bought.js' | asset_url }}"
        },
        "product-crosssell-section": {
          "js": "{{ 'bt-section-main-product-crosssell.js' | asset_url }}"
        },
        "main-product-tabs-section": {
          "css": ["{{ 'bt-section-main-product-tabs.min.css' | asset_url }}"],
          "js": "{{ 'bt-section-main-product-tabs.js' | asset_url }}"
          {%- if request.design_mode -%}
            ,"js-admin": "{{ 'bt-section-main-product-tabs-admin.js' | asset_url }}"
          {%- endif -%}
        },
        "main-product-upsell-section": {
          "js": "{{ 'bt-section-main-product-upsell.js' | asset_url }}"
        },
        "main-product-reviews-section": {
          "js": "{{ 'bt-section-main-product-reviews.js' | asset_url }}"
        }
      {%- elsif template.name == 'cart' -%}
        ,"cart-template-section": {
          "js": "{{ 'bt-cart-page.js' | asset_url }}"
        },
        "cart-crosssell-section": {
          "js": "{{ 'bt-section-cart-crosssell.js' | asset_url }}"
        }  
      {%- endif -%}
    },
    loadedLibs: [],
    pendingJsLibs: [],
    loadedCssLibs: [],
    requireCss: [],
    review: {
      enable: {% if settings.enable_review %}true{% else %}false{% endif %},
      app: {{ settings.review_app | json }}
    },
    searchSuggest: {
      enable: {% if settings.search_suggest_enable %}true{% else %}false{% endif %},
      limit: "{{ settings.search_suggest_limit }}"
    },
    enableCookieConsent: {% if settings.cookie_consent_enable and settings.cookie_consent_content != blank %}true{% else %}false{% endif %},
    enableNewsPopup: {% if settings.news_popup_enable %}true{% else %}false{% endif %},
    enableRecommendedProducts: {% if settings.rp_active and settings.rp_collection %}true{% else %}false{% endif %},
    newsTerms: {% if settings.news_terms_enable and settings.news_platform == 'shopify' %}true{% else %}false{% endif %},
    enableRecentView: {% if settings.recent_view_enable %}true{% else %}false{% endif %},
    disableCopy: {% if settings.disable_copy %}true{% else %}false{% endif %},
    preOrder: {% if settings.pre_order_enable %}true{% else %}false{% endif %}
  };
  var enableCurrencyConverter = {% if settings.currency_converter_engine == 'shopify' %}{% if settings.enable_currency_auto or settings.show_multiple_currencies %}true{% else %}false{% endif %}{% else %}false{% endif %};
  var enableCurrencyAuto = {% if settings.enable_currency_auto and settings.currency_converter_engine == 'shopify' %}true{% else %}false{% endif %};
  var useCurrencyConverterPlusEngine = {%- if settings.currency_converter_engine == 'shopify_plus' -%}true{%- else -%}false{%- endif -%};
  var currencyFormat = '{{ settings.currency_format | default: 'money_with_currency_format' }}';
  var shopCurrency = '{% if settings.currency_converter_engine == 'shopify' %}{{ shop.currency }}{% else %}{{ cart.currency.iso_code }}{% endif %}';
  var defaultCurrency = '{%- unless settings.currency_converter_engine == 'shopify_plus' -%}{{ settings.default_currency | default: shop.currency }}{%- else -%}{{ shop.currency }}{%- endunless -%}';
  var cookieCurrency;
  var currencyFormat1 = {{ shop.money_with_currency_format | strip_html | json }};
  var currencyFormat2 = {{ shop.money_format | strip_html | json }};

  var upsellRandom = {% if settings.upsell_random_enable %}true{% else %}false{% endif %};
  var rtl = {% if enable_rtl %}true{% else %}false{% endif %};
  
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  var topbarConfig = {
    autoRun      : true,
    barThickness : 3,
    barColors    : {
        '0'      : '{{ settings.topbar_stage1_color }}',
        '.25'    : '{{ settings.topbar_stage2_color }}',
        '.50'    : '{{ settings.topbar_stage3_color }}',
        '.75'    : '{{ settings.topbar_stage4_color }}',
        '1.0'    : '{{ settings.topbar_stage5_color }}'
    },
    shadowBlur   : 10,
    shadowColor  : '{{ settings.color_general | color_modify: 'alpha', 0.6 }}'
  };
  window.lazySizesConfig = window.lazySizesConfig || {};
  window.lazySizesConfig['data-widths'] =  [180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048];
  window.lazySizesConfig.loadMode = 1;
  window.lazySizesConfig.expand = -100;
  window.lazySizesConfig.loadHidden = false;
  class BTSection {
    constructor(container, sectionId, type) {
      this.container = container;
      this.sectionId = sectionId;
      this.type = type;
      this.onInit();
    }

    onInit() {

    }

    onLoad(evt) {

    }

    onUnload(evt) {

    }

    onSelect(evt) {

    }

    onDeselect(evt) {

    }

    onBlockSelect(evt) {

    }

    onBlockDeselect(evt) {

    }
  }
</script>