{% comment %} Variables  {% endcomment %}
{% assign settings = section.settings %}
<style>
    {% comment %}
    Render heading & body font family
{% endcomment %}
{%- if settings.override_font != blank -%}
    {%- capture font_settings_list -%}
        {{ settings.heading_font | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
        {{ settings.body_font | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
    {%- endcapture -%}
    {%- assign font_array = font_settings_list | split: ';;' -%}
{% endif %}
{%- if settings.override_font != blank -%}
    {%- for font in font_array -%}
        {%- unless font contains 'error' -%}
            {{ font }}{%- endunless -%}
    {%- endfor -%}
    #sp-{{ section.id }} {
    --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
    --sp-heading-font-weight: {{ settings.heading_font.weight }};
    --sp-heading-font-style: {{ settings.heading_font.style }};
    --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
    --sp-body-font-weight: {{ settings.body_font.weight }};
    --sp-body-font-style: {{ settings.body_font.style }};
    --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
    --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
    --sp-highlight-font-style: {{ settings.highlight_font.style }};
    }
    {% if custom_selector != blank %}
        {{ custom_selector }} {
        --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
        --sp-heading-font-weight: {{ settings.heading_font.weight }};
        --sp-heading-font-style: {{ settings.heading_font.style }};
        --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
        --sp-body-font-weight: {{ settings.body_font.weight }};
        --sp-body-font-style: {{ settings.body_font.style }};
        --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
        --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
        --sp-highlight-font-style: {{ settings.highlight_font.style }};
        }
    {% endif %}
{% endif %}
    {% comment %}
    Render padding section, heading content max width
{% endcomment %}

    #sp-{{ section.id }} .sp-section {
    {% if settings.section_top_padding_mobile and  settings.section_bottom_padding_mobile %}
        --sp-section-top-padding: {{ settings.section_top_padding_mobile | divided_by: 10.0 | round: 0 }}rem;
        --sp-section-bottom-padding: {{ settings.section_bottom_padding_mobile | divided_by: 10.0 | round: 0 }}rem;
    {% else %}
        --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | times: 0.5 | round: 0 }}rem;
        --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | times: 0.5 | round: 0 }}rem;
    {% endif %}
        }

    @media (min-width: 768px) {
        #sp-{{ section.id }} .sp-section {
            --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | times: 0.7 | round: 0 }}rem;
            --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | times: 0.7 | round: 0 }}rem;
        }
    }

    @media (min-width: 1260px) {
        #sp-{{ section.id }} .sp-section {
            --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | round: 0 }}rem;
            --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | round: 0 }}rem;
        }
    }


    #sp-{{ section.id }} {
        --sp-section-background-color: {{ settings.section_background_color | default: "transparent" }};
    {% if settings.section_background_gradient_color != blank %} --sp-section-background-color: "transparent";
    {% endif %} --sp-section-background-gradient-color: {{ settings.section_background_gradient_color | default: "null" }};
        --sp-section-text-color: {{ settings.section_text_color | default: "transparent" }};
        --padding-content: 10rem;
        --sp-container-padding: var(--sp-container-mobile-padding);
    }

    .sp-section-outer .sp-image-outer {
        --sp-image-aspect-ratio: {{ settings.image_ratio }};
    }

    #sp-{{ section.id }} .sp-section {
        background-color: var(--sp-section-background-color);
        background-image: var(--sp-section-background-gradient-color);
    }

    #sp-{{ section.id }} .sp-text-wrapper {
        --sp-content-max-width: {{ settings.content_max_width }}px;
        max-width: var(--sp-content-max-width);
        --sp-item-gap: {{ settings.item_gap }}px;
    }

    #sp-{{ section.id }} .sp-feature-item-wrapper {
        --sp-feature-item-gap: {{ settings.feature_item_gap }}px;
    }
    #sp-{{ section.id }} .sp-feature-item-wrapper .sp-feature-item {
        --sp-feature-content-padding: {{ settings.content_padding }}px;
        --sp-feature-border-radius: {{ settings.border_radius }}px;
        --sp-feature-border-size: {{ settings.border_size }}px;
        --sp-feature-border-color: {{ settings.border_color }};
        --sp-feature-item-background-color: {{ settings.feature_item_background_color }};
        --sp-feature-item-background-gradient-color: {{ settings.feature_item_background_gradient_color }};
        --icon-size: {{ settings.icon_size_desktop }}px;

    }
    #sp-{{ section.id }} .sp-feature-item-wrapper .sp-feature-item .sp-heading {
        --sp-text-size: {{ settings.title_font_size_desktop }}px;
        --sp-text-letter-spacing: {{ settings.title_text_spacing }}px;
        --sp-text-color: {{ settings.title_text_color }};
        
    }

    #sp-{{ section.id }} .sp-feature-item-wrapper .sp-feature-item .sp-description {
        --sp-text-size: {{ settings.description_font_size_desktop }}px;
        --sp-text-letter-spacing: {{ settings.description_text_spacing }}px;
        --sp-text-color: {{ settings.description_text_color }};
        
    }
    @media (min-width: 768px) {
        #sp-{{ section.id }}  {
            --sp-container-padding: var(--sp-container-tablet-padding);
        }
    }
    @media (min-width: 1200px) {
        #sp-{{ section.id }} {
            --sp-container-padding: var(--sp-container-desktop-padding);
        }
    }
    
    @media(max-width:1440px) {
        #sp-{{ section.id }} {
            --padding-content: 4rem;
        }
    }
    @media(max-width:767px) {
        #sp-{{ section.id }} {
            --padding-content: var(--sp-container-padding);
        }
        #sp-{{ section.id }} .sp-text-wrapper {
            --sp-item-gap: {{ settings.item_gap_mobile }}px;
        }
        #sp-{{ section.id }} .sp-feature-item-wrapper {
            --sp-feature-item-gap: {{ settings.feature_item_gap_mobile }}px;
        }
        #sp-{{ section.id }} .sp-feature-item-wrapper .sp-feature-item {
            --icon-size: {{ settings.icon_size_mobile }}px;
        }
        #sp-{{ section.id }} .sp-feature-item-wrapper .sp-feature-item .sp-heading {
            --sp-text-size: {{ settings.title_font_size_mobile }}px;
        }
    
        #sp-{{ section.id }} .sp-feature-item-wrapper .sp-feature-item .sp-description {
            --sp-text-size: {{ settings.description_font_size_mobile }}px;
        }
    }

</style>
<div id="sp-{{ section.id }}" class="sp-{{ section.id }} sp-section-image-with-text-6" data-section="image-with-text-6"
     data-variant="variant-5" data-image-position="{{ settings.image_position }}">
    <div class="sp-image-ob" data-image-hover="{{ settings.image_hover }}" data-lazy="sp-{% if settings.lazy_load %}lazy-section{% endif %}">
        {%- if settings.section_image != blank -%}
            {{ settings.section_image | image_url: width: 1920 | image_tag: class: 'sp-image' }}
        {% else %}
            {{ 'image' | placeholder_svg_tag: 'sp-placeholder-image-gray-100' }}
        {% endif %}
    </div> 
    <div class="sp-section-outer">
        <div class="sp-section" data-border="{{ settings.section_border }}">
            <div class="sp-container-fluid sp-container-no-gap">
                <div class="sp-section-inner {{ settings.image_position }}" data-lazy="sp-{% if settings.lazy_load %}lazy-section{% endif %}"
                     data-cascade>
                     <div class="sp-image-outer" data-image-hover="{{ settings.image_hover }}">
                        {%- if settings.section_image != blank -%}
                            {{ settings.section_image | image_url: width: 1920 | image_tag: class: 'sp-image' }}
                        {% else %}
                            {{ 'image' | placeholder_svg_tag: 'sp-placeholder-image-gray-100' }}
                        {% endif %}
                    </div> 
                    <div class="sp-text-outer" data-content-position="{{ settings.content_position }}"
                         data-item-alignment="{{ settings.item_alignment }}"
                         data-item-alignment-mobile="{{ settings.item_alignment_mobile }}"
                    >
                        <div class="sp-text-wrapper">
                            {% assign heading_block = section.blocks | where: 'type', 'heading_item' %}
                            {% for block in heading_block %}
                                {% assign setting = block.settings %}
                                {% if setting.heading != empty or setting.description != empty %}
                                    <div id="sp-{{ block.id }}"
                                         class="sp-heading-item" {{ block.shopify_attributes }}>
                                        <style>
                                            #sp-{{ section.id }} .sp-text-wrapper .sp-heading-item {
                                                --sp-text-gap: {{ setting.text_gap }}px;
                                                --sp-heading-text-color: {{ setting.heading_text_color }};
                                                --sp-description-text-color: {{ setting.description_text_color }};
                                            }

                                            #sp-{{ section.id }} .sp-text-wrapper .sp-heading-item .sp-heading {
                                                --sp-text-size: {{ setting.heading_size_desktop }}px;
                                                --sp-text-letter-spacing: {{ setting.text_heading_spacing }}px;
                                                
                                            }

                                            #sp-{{ section.id }} .sp-text-wrapper .sp-heading-item .sp-description {
                                                --sp-text-size: {{ setting.description_size_desktop }}px;
                                                --sp-text-letter-spacing: {{ setting.text_description_spacing }}px;
                                                
                                            }

                                            @media(max-width:1199px) {
                                                #sp-{{ section.id }} .sp-text-wrapper .sp-heading-item .sp-heading { 
                                                    {% if setting.heading_size_desktop > 32 %}
                                                        --sp-text-size: 32px;
                                                     {%  endif %}
                                                }
                                            }

                                            @media (max-width: 767px) {
                                                #sp-{{ section.id }} .sp-text-wrapper .sp-heading-item {
                                                    --sp-text-gap: {{ setting.text_gap_mobile }}px;
                                                }

                                                #sp-{{ section.id }} .sp-text-wrapper .sp-heading-item .sp-heading {
                                                    --sp-text-size: {{ setting.heading_size_mobile }}px;
                                                }

                                                #sp-{{ section.id }} .sp-text-wrapper .sp-heading-item .sp-description {
                                                    --sp-text-size: {{ setting.description_size_mobile }}px;
                                                }
                                            }
                                        </style>
                                        {% if setting.heading != empty %}
                                            <div class="sp-heading"
                                                 data-text-style="{{ setting.heading_text_style }}">{{ setting.heading }}</div>
                                        {% endif %}
                                        {% if setting.description != empty %}
                                            <div class="sp-description"
                                                 data-text-style="{{ setting.description_text_style }}">{{ setting.description }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {%  endfor %}    
                            
                            {% assign feature_items_blocks = section.blocks | where: 'type', 'feature_item' %}
                            <div class="sp-feature-item-wrapper">
                                {% for block in feature_items_blocks %}
                                    {% assign setting = block.settings %}
                                    {% if setting.icon != null or setting.title != empty or setting.description != empty %}
                                        <div id="sp-{{ block.id }}"
                                            class="sp-feature-item" {{ block.shopify_attributes }}>
                                            {% if setting.icon != null %}
                                                <div class="sp-icon">
                                                    {{ setting.icon | image_url: width: 512 | image_tag: class: 'sp-image' }}
                                                </div>
                                            {% endif %}
                                            <div class="sp-feature-item-content">
                                                {% if setting.title != empty %}
                                                    <div class="sp-heading" data-text-style="{{ settings.title_text_style }}">{{ setting.title }}</div>
                                                {% endif %}
                                                {% if setting.description != empty %}
                                                    <div class="sp-description" data-text-style="{{ settings.description_text_style }}">{{ setting.description }}</div>
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "🧩 Image With Text 6.5",
	"tag": "section",
	"class": "sp-image-with-text-6",
	"settings": [
		{
			"type": "header",
			"content": "Section settings"
		},
		{
			"type": "image_picker",
			"id": "section_image",
			"label": "Image"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 760
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"label": "Left",
					"value": "left"
				},
				{
					"label": "Center",
					"value": "center"
				},
				{
					"label": "Right",
					"value": "right"
				}
			],
			"default": "left"
		},
		{
			"type": "select",
			"id": "item_alignment",
			"label": "Item alignment (Desktop)",
			"options": [
				{
					"label": "Left",
					"value": "left"
				},
				{
					"label": "Center",
					"value": "center"
				},
				{
					"label": "Right",
					"value": "right"
				}
			],
			"default": "left"
		},
		{
			"type": "select",
			"id": "item_alignment_mobile",
			"label": "Item alignment (Mobile)",
			"options": [
				{
					"label": "Left",
					"value": "left"
				},
				{
					"label": "Center",
					"value": "center"
				},
				{
					"label": "Right",
					"value": "right"
				}
			],
			"default": "left"
		},
		{
			"type": "range",
			"id": "item_gap",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Items gap (Desktop)",
			"default": 50
		},
		{
			"type": "range",
			"id": "item_gap_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Items gap (Mobile)",
			"default": 30
		},
		{
			"type": "header",
			"content": "Feature items settings"
		},
		{
			"type": "range",
			"id": "content_padding",
			"min": 1,
			"max": 50,
			"step": 1,
			"unit": "px",
			"label": "Content padding",
			"default": 16
		},
		{
			"type": "range",
			"id": "border_radius",
			"min": 0,
			"max": 60,
			"step": 1,
			"unit": "px",
			"label": "Border radius",
			"default": 18
		},
		{
			"type": "range",
			"id": "border_size",
			"min": 0,
			"max": 5,
			"step": 0.5,
			"unit": "px",
			"label": "Border size",
			"default": 1
		},
		{
			"type": "range",
			"id": "feature_item_gap",
			"min": 0,
			"max": 50,
			"step": 1,
			"unit": "px",
			"label": "Item gap(Desktop)",
			"default": 30
		},
		{
			"type": "range",
			"id": "feature_item_gap_mobile",
			"min": 0,
			"max": 50,
			"step": 1,
			"unit": "px",
			"label": "Item gap(Mobile)",
			"default": 16
		},
		{
			"type": "range",
			"id": "icon_size_desktop",
			"min": 10,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Icon size (Desktop)",
			"default": 64
		},
		{
			"type": "range",
			"id": "icon_size_mobile",
			"min": 10,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Icon size (Mobile)",
			"default": 32
		},
		{
			"type": "range",
			"id": "title_font_size_desktop",
			"min": 12,
			"max": 36,
			"step": 1,
			"unit": "px",
			"label": "Title size (Desktop)",
			"default": 20
		},
		{
			"type": "range",
			"id": "title_font_size_mobile",
			"min": 12,
			"max": 36,
			"step": 1,
			"unit": "px",
			"label": "Title size (Mobile)",
			"default": 16
		},
		{
			"type": "range",
			"id": "title_text_spacing",
			"min": -10,
			"max": 10,
			"step": 0.2,
			"unit": "px",
			"label": "Text title letter spacing",
			"default": 0
		},
		{
			"type": "select",
			"id": "title_text_style",
			"label": "Titlte style",
			"options": [
				{
					"label": "Normal",
					"value": "normal"
				},
				{
					"label": "Capitalize",
					"value": "capitalize"
				},
				{
					"label": "Uppercase",
					"value": "uppercase"
				},
				{
					"label": "Lowercase",
					"value": "lowercase"
				}
			],
			"default": "normal"
		},
		{
			"type": "range",
			"id": "description_font_size_desktop",
			"min": 12,
			"max": 32,
			"step": 1,
			"unit": "px",
			"label": "Description size (Desktop)",
			"default": 16
		},
		{
			"type": "range",
			"id": "description_font_size_mobile",
			"min": 12,
			"max": 32,
			"step": 1,
			"unit": "px",
			"label": "Description size (Mobile)",
			"default": 13
		},
		{
			"type": "range",
			"id": "description_text_spacing",
			"min": -10,
			"max": 10,
			"step": 0.2,
			"unit": "px",
			"label": "Text description letter spacing",
			"default": 0
		},
		{
			"type": "select",
			"id": "description_text_style",
			"label": "Description style",
			"options": [
				{
					"label": "Normal",
					"value": "normal"
				},
				{
					"label": "Capitalize",
					"value": "capitalize"
				},
				{
					"label": "Uppercase",
					"value": "uppercase"
				},
				{
					"label": "Lowercase",
					"value": "lowercase"
				}
			],
			"default": "normal"
		},
		{
			"type": "header",
			"content": "Effects"
		},
		{
			"type": "checkbox",
			"id": "lazy_load",
			"label": "Lazy load",
			"default": true
		},
		{
			"type": "select",
			"id": "button_hover",
			"label": "Button hover",
			"options": [
				{
					"label": "None",
					"value": "none"
				},
				{
					"label": "Fly",
					"value": "fly"
				},
				{
					"label": "Opacity",
					"value": "opacity"
				}
			],
			"default": "fly"
		},
		{
			"type": "select",
			"id": "image_hover",
			"label": "Image hover",
			"options": [
				{
					"label": "None",
					"value": "sp-image-hover-none"
				},
				{
					"label": "Zoom in",
					"value": "sp-image-hover-zoom-in"
				}
			],
			"default": "sp-image-hover-none"
		},
		{
			"type": "header",
			"content": "Image settings"
		},
		{
			"type": "select",
			"id": "image_position",
			"label": "Image position",
			"options": [
				{
					"label": "Left",
					"value": "sp-image-position-left"
				},
				{
					"label": "Right",
					"value": "sp-image-position-right"
				}
			],
			"default": "sp-image-position-left"
		},
		{
			"type": "range",
			"id": "image_ratio",
			"min": 0.3,
			"max": 2,
			"step": 0.1,
			"default": 0.9,
			"unit": ":1",
			"label": "Image ratio"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "section_top_padding",
			"min": 0,
			"max": 150,
			"step": 10,
			"unit": "px",
			"label": "Top padding (Desktop)",
			"default": 100
		},
		{
			"type": "range",
			"id": "section_bottom_padding",
			"min": 0,
			"max": 150,
			"step": 10,
			"unit": "px",
			"label": "Bottom padding (Desktop)",
			"default": 100
		},
		{
			"type": "range",
			"id": "section_top_padding_mobile",
			"min": 0,
			"max": 150,
			"step": 10,
			"unit": "px",
			"label": "Top padding (Mobile)",
			"default": 50
		},
		{
			"type": "range",
			"id": "section_bottom_padding_mobile",
			"min": 0,
			"max": 150,
			"step": 10,
			"unit": "px",
			"label": "Bottom padding (Mobile)",
			"default": 50
		},
		{
			"type": "checkbox",
			"id": "section_border",
			"label": "Separate section with border",
			"default": false
		},
		{
			"type": "header",
			"content": "Section color"
		},
		{
			"type": "color",
			"id": "section_background_color",
			"label": "Background color",
			"default": "#0d3458"
		},
		{
			"type": "color_background",
			"id": "section_background_gradient_color",
			"label": "Background gradient color"
		},
		{
			"type": "header",
			"content": "Feature items color"
		},
		{
			"type": "color",
			"id": "feature_item_background_color",
			"label": "Background",
			"default": "#d8fffd"
		},
		{
			"type": "color_background",
			"id": "feature_item_background_gradient_color",
			"label": "Background gradient",
			"info": "Background gradient replaces background where possible."
		},
		{
			"type": "color",
			"id": "title_text_color",
			"label": "Title text",
			"default": "#1e1e1e"
		},
		{
			"type": "color",
			"id": "description_text_color",
			"label": "Description text",
			"default": "#1e1e1e"
		},
		{
			"type": "color",
			"id": "border_color",
			"label": "Border",
			"default": "#d6d6d6"
		},
		{
			"type": "header",
			"content": "Typography"
		},
		{
			"type": "checkbox",
			"id": "override_font",
			"label": "Override fonts of the theme",
			"default": true,
			"info": "If you check this option, the fonts of the section will work"
		},
		{
			"type": "font_picker",
			"id": "heading_font",
			"label": "Heading font",
			"default": "poppins_n7"
		},
		{
			"type": "font_picker",
			"id": "body_font",
			"label": "Body font",
			"default": "poppins_n4"
		}
	],
	"blocks": [
		{
			"name": "Heading",
			"type": "heading_item",
			"limit": 1,
			"settings": [
				{
					"type": "richtext",
					"id": "heading",
					"label": "Heading",
					"default": "<p>Product Features</p>"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Certainly! When featuring a fashion dress product, it's essential to highlight its unique characteristics, style, and appeal to attract potential customers. Here are some key features to focus on:</p>"
				},
				{
					"type": "range",
					"id": "text_gap",
					"min": 0,
					"max": 50,
					"step": 1,
					"unit": "px",
					"label": "Text gap (Desktop)",
					"info": "Space between heading and description",
					"default": 20
				},
				{
					"type": "range",
					"id": "text_gap_mobile",
					"min": 0,
					"max": 50,
					"step": 1,
					"unit": "px",
					"label": "Text gap (Mobile)",
					"info": "Space between heading and description",
					"default": 20
				},
				{
					"type": "header",
					"content": "Heading Styling"
				},
				{
					"type": "range",
					"id": "heading_size_desktop",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Desktop)",
					"default": 48
				},
				{
					"type": "range",
					"id": "heading_size_mobile",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Mobile)",
					"default": 32
				},
				{
					"type": "range",
					"id": "text_heading_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text heading letter spacing",
					"default": 0
				},
				{
					"type": "select",
					"id": "heading_text_style",
					"label": "Text style",
					"options": [
						{
							"label": "Normal",
							"value": "normal"
						},
						{
							"label": "Capitalize",
							"value": "capitalize"
						},
						{
							"label": "Uppercase",
							"value": "uppercase"
						},
						{
							"label": "Lowercase",
							"value": "lowercase"
						}
					],
					"default": "capitalize"
				},
				{
					"type": "header",
					"content": "Description Styling"
				},
				{
					"type": "range",
					"id": "description_size_desktop",
					"min": 12,
					"max": 32,
					"step": 1,
					"unit": "px",
					"label": "Description size (Desktop)",
					"default": 18
				},
				{
					"type": "range",
					"id": "description_size_mobile",
					"min": 12,
					"max": 32,
					"step": 1,
					"unit": "px",
					"label": "Description size (Mobile)",
					"default": 16
				},
				{
					"type": "range",
					"id": "text_description_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text description letter spacing",
					"default": 0
				},
				{
					"type": "select",
					"id": "description_text_style",
					"label": "Text style",
					"options": [
						{
							"label": "Normal",
							"value": "normal"
						},
						{
							"label": "Capitalize",
							"value": "capitalize"
						},
						{
							"label": "Uppercase",
							"value": "uppercase"
						},
						{
							"label": "Lowercase",
							"value": "lowercase"
						}
					],
					"default": "normal"
				},
				{
					"type": "header",
					"content": "Color settings"
				},
				{
					"type": "color",
					"id": "heading_text_color",
					"label": "Heading text color",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "description_text_color",
					"label": "Description text color",
					"default": "#fff"
				}
			]
		},
		{
			"name": "Feature item",
			"type": "feature_item",
			"settings": [
				{
					"type": "image_picker",
					"id": "icon",
					"label": "Icon"
				},
				{
					"type": "richtext",
					"id": "title",
					"label": "Title",
					"default": "<p>Durability and Reliability</p>"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Emphasize the vacuum cleaner's durability and long-lasting performance, backed by quality construction and reliable engineering.</p>"
				}
			]
		}
	],
	"presets": [
		{
			"name": "🧩 Image With Text 6.5",
			"settings": {
				"section_image": "shopify://shop_images/image-with-text-6-variant-5-image-1.png",
				"content_max_width": 760,
				"content_position": "left",
				"item_alignment": "left",
				"item_alignment_mobile": "left",
				"item_gap": 50,
				"item_gap_mobile": 30,
				"content_padding": 16,
				"border_radius": 18,
				"border_size": 1,
				"feature_item_gap": 30,
				"feature_item_gap_mobile": 16,
				"icon_size_desktop": 64,
				"icon_size_mobile": 32,
				"title_font_size_desktop": 20,
				"title_font_size_mobile": 16,
				"title_text_spacing": 0,
				"title_text_style": "normal",
				"description_font_size_desktop": 16,
				"description_font_size_mobile": 13,
				"description_text_spacing": 0,
				"description_text_style": "normal",
				"lazy_load": true,
				"button_hover": "fly",
				"image_hover": "sp-image-hover-none",
				"image_position": "sp-image-position-left",
				"image_ratio": 0.9,
				"section_top_padding": 100,
				"section_bottom_padding": 100,
				"section_top_padding_mobile": 50,
				"section_bottom_padding_mobile": 50,
				"section_border": false,
				"section_background_color": "#0d3458",
				"section_background_gradient_color": "",
				"feature_item_background_color": "#d8fffd",
				"feature_item_background_gradient_color": "",
				"title_text_color": "#1e1e1e",
				"description_text_color": "#1e1e1e",
				"border_color": "#d6d6d6",
				"override_font": true,
				"heading_font": "poppins_n7",
				"body_font": "poppins_n4"
			},
			"blocks": [
				{
					"type": "heading_item",
					"settings": {
						"heading": "<p>Product Features</p>",
						"description": "<p>Certainly! When featuring a fashion dress product, it's essential to highlight its unique characteristics, style, and appeal to attract potential customers. Here are some key features to focus on:</p>",
						"text_gap": 20,
						"text_gap_mobile": 20,
						"heading_size_desktop": 48,
						"heading_size_mobile": 32,
						"text_heading_spacing": 0,
						"heading_text_style": "capitalize",
						"description_size_desktop": 18,
						"description_size_mobile": 16,
						"text_description_spacing": 0,
						"description_text_style": "normal",
						"heading_text_color": "#fff",
						"description_text_color": "#fff"
					}
				},
				{
					"type": "feature_item",
					"settings": {
						"icon": "shopify://shop_images/image-with-text-6-variant-5-icon-1.svg",
						"title": "<p>Power and Performance</p>",
						"description": "<p>Describe the vacuum cleaner's suction power and its ability to effectively clean various types of flooring</p>"
					}
				},
				{
					"type": "feature_item",
					"settings": {
						"icon": "shopify://shop_images/image-with-text-6-variant-5-icon-2.svg",
						"title": "<p>Efficiency and Effectiveness</p>",
						"description": "<p>Emphasize the vacuum cleaner's efficiency in removing dirt, dust, pet hair, and allergens from the home.</p>"
					}
				},
				{
					"type": "feature_item",
					"settings": {
						"icon": "shopify://shop_images/image-with-text-6-variant-5-icon-3.svg",
						"title": "<p>Ease of Use</p>",
						"description": "<p>Highlight user-friendly features such as lightweight design, ergonomic handles, and easy maneuverability.</p>"
					}
				},
				{
					"type": "feature_item",
					"settings": {
						"icon": "shopify://shop_images/image-with-text-6-variant-5-icon-4.svg",
						"title": "<p>Durability and Reliability</p>",
						"description": "<p>Emphasize the vacuum cleaner's durability and long-lasting performance, backed by quality construction and reliable engineering.</p>"
					}
				}
			]
		}
	]
}
{% endschema %}

{% style %}
	#sp-{{section.id}}{position:relative}#sp-{{section.id}} .sp-section{background-color:var(--sp-section-background-color);background-image:var(--sp-section-background-gradient-color);padding-top:0;padding-bottom:0}#sp-{{section.id}} .sp-text-wrapper{row-gap:var(--sp-item-gap);padding-top:var(--sp-section-top-padding);padding-bottom:var(--sp-section-bottom-padding)}#sp-{{section.id}} .sp-text-wrapper .sp-heading-item .sp-heading *{color:var(--sp-heading-text-color);font-size:var(--sp-text-size);letter-spacing:var(--sp-text-letter-spacing)}#sp-{{section.id}} .sp-text-wrapper .sp-heading-item .sp-description *{color:var(--sp-description-text-color);font-size:var(--sp-text-size);letter-spacing:var(--sp-text-letter-spacing);opacity:.8}@media(max-width: 767px){#sp-{{section.id}} .sp-section-inner.sp-image-position-left{flex-direction:column}}
{% endstyle %}
